* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: black;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    filter: drop-shadow(0 0 2rem rgba(220, 20, 60, 0.8));
    position: relative;
    width: 30px;
    height: 30px;
    background: #f4b10a;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #ffda7b,
        0 0 50px #f4b10a,
        0 0 100px #f4b10a;
    animation: animate 15s linear infinite;
    animation-duration: calc(70s/var(--i));
}

.bubbles span:nth-child(even){
    filter: drop-shadow(0 0 2rem rgba(220, 20, 60, 0.8));
    background: #ff0016;
    box-shadow: 0 0 0 10px #ff6425,
        0 0 50px #ff0016,
        0 0 100px #ff0016;
}

@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(0.5);
    }
}

